@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;600;700&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");*/

.submitForm {
    height: 1854px;
    width: 1040px;
  }
  
  .submitForm {
    background-color: #ffffff;
    /*height: 1854px;*/
    left: 0;
    position: fixed;
    top: 0;
    /*width: 1040px;*/
  }
  
  

