.mysidenav{
  /* background-color: #024D90 !important; */
  background-image: linear-gradient(to bottom, #00BCEB, #024D90)!important; 
  /* background-image: linear-gradient(to bottom, #00BCEB, #024D90); */
  font-family: "Segoe UI", Tahoma, Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 60px;

}

.mysidenav2{
  /* background-color: #0D274D !important; */
  font-family: "Segoe UI", Tahoma, Verdana, Geneva, Tahoma, sans-serif;
  /* margin-top: 60px; */

}


/* If I uncomment this, the house icon in the side_bar turns to black */
/* Target the icon element directly */
/* .fa-house {
  color: black !important;
} */


.page{
  font-size: 5rem;
  text-align: center;
}

.header{
  /* background-color: #0D274D !important; */
  background-image: linear-gradient(to right, #00BCEB 15%, #024D90);
  height:60px;
}

.headertext{
  text-align: center;
}

.login_sidenav{
  margin-bottom: 300px;
}